<!-- Button to open new dialog -->
<div class="actions-section">
  <p-button (click)="openNewDialog()" icon="pi pi-plus" label="Open New Dialog" />
  <div class="dock">
    <p-button (click)="op.toggle($event)" icon="pi pi-window-minimize" label="Minimized ({{ minimizedDialogs.length }})" />
    <p-popover #op [dismissable]="true" appendTo="body">
      <div *ngIf="minimizedDialogs.length > 0; else noMinimized">
        <ul class="minimized-dialogs-list">
          <li
            *ngFor="let dialog of minimizedDialogs"
            class="flex align-items-center justify-content-between py-2 px-3"
          >
            <span>{{ dialog.title }}</span>
            <div class="minimized-dialogs-actions">
              <p-button (click)="enlargeDialog(dialog)" [rounded]="true" [text]="true" icon="pi pi-window-maximize"/>
              <p-button (click)="closeDialog(dialog)" [rounded]="true" [text]="true" icon="pi pi-times"/>
            </div>
          </li>
        </ul>
      </div>
      <ng-template #noMinimized>
        <div class="p-3 text-sm text-gray-500">No minimized dialogs</div>
      </ng-template>
    </p-popover>
  </div>
</div>
