.dock {
  //position: sticky;
  //bottom: 20px;
  //right: 20px;
  //z-index: 2000;
}

.custom-dialog-title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.actions-section {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.minimized-dialogs-list {
  list-style-type: none;
  padding-left: 0;

  li {
    display: flex;
    width: 100%;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
  }
}

.minimized-dialogs-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

::ng-deep .p-popover-content {
  /* Apply your styles here */
  padding: 0 !important;
}
