/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@import "primeicons/primeicons.css";

.minimizable-dialogs .p-dialog-header-actions{
  display: none;
}

body{
  background: #fff;
}

app-dialog-header{
  width: 100%;
}

.custom-dialog-mask{
  &.p-overlay-mask{
    background: unset !important;
    z-index: -1 !important;
    pointer-events: none !important;
  }
}
